{% extends "base.html" %}

{% block title %}
    <title>{{ document.title_text | title }}</title>
{% endblock title %}

{% block content %}

<div class="col m-md-2 m-1">



    <h1>{{ document.title_text | title }}</h1>
    
    <ul>
        <li>Purpose: {{ document.purpose_text }}</li>
        <li>Created at:{{ document.created_at }}</li>
        <li>Created by:{{ document.created_by }}</li>
    </ul>
    
    <hr>
    
    <h2>{{ fluent(key="sections", lang=lang )}}</h2>
    
    {% for key, section in sections %}
    
        <h3>{{ section.header_text | title }}</h3>
        <form hx-put="/{{ lang }}/create_text/{{ section.id }}" hx-target="{{ section.id }}" hx-swap="outerHTML">
            <div>
              <label>Content</label>
              <input type="text" name="{{ section.id }}-content" placeholder="Enter Markdown here...">
            </div>
            <button class="btn">Submit</button>
        </form> 
        <ul>
            <li>{{ fluent(key="section-instructions", lang=lang )}} {{ section.instructions_text }}</li>
            <li>{{ fluent(key="section-help-text", lang=lang )}} {{ section.help_text }}</li>
            <li>{{ fluent(key="section-character-limit", lang=lang, limit=section.character_limit )}}</li>
        </ul>
        <hr>
    
    {% endfor %}

</div>

{% endblock content %}