{% extends "base.html" %}

{% block title %}
    <title>{{ document.title_text | title | safe }}</title>
{% endblock title %}

{% block content %}

<div>
    <br>
    <div
        id="{{document.id}}-content"
        hx-swap="outerHTML"
        hx-target="this"
    >

        <h1>{{ document.title_text | title }} 
            {% if document_view == "internal" %}
            <button 
                class="btn btn-a11y"
                hx-get="/{{ lang }}/edit_document_core_form/{{ document.id }}/{{ document_view }}" 
                >
                Edit
            </button>
            {% endif %}
        </h1>

        <h4>Purpose</h4>
        {{ document.purpose_text | safe }}
        <br>
        
        <div class="row">
            <div class="col">
                <h4>Details</h4>
                <ul>
                    <li>Created at: {{ document.created_at | date(format="%Y-%m-%d %H:%M") }} by {{ document.created_by }}</li>
                    <li>Updated at: {{ document.updated_at | date(format="%Y-%m-%d %H:%M") }}</li>
                    <li>Security Classification: {{ document.security_classification | title }}</li>
                    <li>Status: {% if document.published == true %}Published{% else %}Draft{% endif %}</li>
                </ul>
            </div>
            <div class="col" 
                hx-get="/{{ lang }}/metadata/{{ metadata.id }}/{{ document_view }}" 
                hx-trigger="textUpdate from:body"
                hx-target="this"
                >
                <h4>Metadata</h4>
                <ul>    
                    <li>Subject: {{ metadata.subject.text }}</li>
                    <li>Category: {{ metadata.category.text }}</li>
                    <li>Keywords: {% for keyword in metadata.keywords %}{{ keyword.text }}, {% endfor %}</li>
                </ul>
                <div>
                    <p>Summary: {{ metadata.summary_text }}</p>
                </div>
            </div> <!-- end of metadata/get -->
        </div>
            <a 
                class="btn btn-info"
                href="/{{ lang }}/document/{{ document.id }}/{% if document_view == 'internal' %}open{% else %}internal{% endif %}">
                    Switch to {% if document_view == "internal" %}Open{% else %}Internal{% endif %}
            </a>
            <a 
                class="btn btn-secondary" 
                href="/{{ lang }}/toggle_document_published/{{ document.id }}/{{ document_view }}">
                    {% if document.published == true %}Unpublish{% else %}Publish{% endif %}
            </a>
            </div>
    
    <hr>
    
    {% for key, section in sections %}
    
    <h3>{{ section.header_text | title }}</h3>
    <div 
        id="{{section.text_id}}-content"
        hx-swap="outerHTML"
        hx-target="this">
        <form 
        >
        {% if document_view == "internal" %}
            <button 
            class="btn"
            hx-get="/{{ lang }}/edit_text/{{ section.text_id }}/{{ document_view }}" 
            >
                Edit
            </button>
        {% endif %}
                <div>{{ section.content | safe }}</div>
                {% if document_view == "internal" %}
                    <p><small>Updated at: {{ section.updated_at | date(format="%Y-%m-%d %H:%M") }}</small></p>
                    <div>Keywords: {{ section.keywords | safe }}</div>
                {% endif %}
        </form>
    </div>
    <hr>
    
    {% endfor %}

</div>

<script>
    document.body.addEventListener("textUpdate", function(evt){
        alert("Summary updated");
    })
</script>

{% endblock content %}