{% extends "base.html" %}

{% block title %}
    <title>{{ document.title_text | title | safe }}</title>
{% endblock title %}

{% block content %}

<div>
    <br>
    <div
        id="{{document.id}}-content"
        hx-swap="outerHTML"
        hx-target="this"
    >

        <h1>{{ document.title_text | title | safe }} 
            {% if document_view == "internal" %}
            <button 
                class="btn btn-a11y"
                hx-get="/{{ lang }}/edit_document_core_form/{{ document.id }}/{{ document_view }}" 
                >
                Edit
            </button>
            {% endif %}
        </h1>

        <h4>Purpose</h4>
        {{ document.purpose_text | safe }}
        <br>
        
        <h4>Details</h4>
        <ul>
            <li>Created at: {{ document.created_at | date(format="%Y-%m-%d %H:%M") }} by {{ document.created_by }}</li>
            <li>Updated at: {{ document.updated_at | date(format="%Y-%m-%d %H:%M") }}</li>
            <li>Security Classification: {{ document.security_classification | title }}</li>
            <li>Status: {% if document.published == true %}Published{% else %}Draft{% endif %}</li>
        </ul>
        <a 
        class="btn btn-info"
        href="/{{ lang }}/document/{{ document.id }}/{% if document_view == 'internal' %}open{% else %}internal{% endif %}"
        >
        Switch to {% if document_view == "internal" %}Open{% else %}Internal{% endif %}
        </a>
    </div>
    
    <hr>
    
    {% for key, section in sections %}
    
    <h3>{{ section.header_text | title }}</h3>
    <div 
        id="{{section.text_id}}-content"
        hx-swap="outerHTML"
        hx-target="this">
        <form 
        >
        {% if document_view == "internal" %}
            <button 
            class="btn"
            hx-get="/{{ lang }}/edit_text/{{ section.text_id }}/{{ document_view }}" 
            >
                Edit
            </button>
        {% endif %}
                <div>{{ section.content | safe }}</div>
                {% if document_view == "internal" %}
                    <p><small>Updated at: {{ section.updated_at | date(format="%Y-%m-%d %H:%M") }}</small></p>
                    <div>Keywords: {{ section.keywords | safe }}</div>
                {% endif %}
        </form>
    </div>
    <hr>
    
    {% endfor %}

</div>

{% endblock content %}