{% extends "base.html" %}

{% block title %}
    <title>{{ document.title_text | title }}</title>
{% endblock title %}

{% block content %}

<div class="col m-md-2 m-1">



    <h1>{{ document.title_text | title }}</h1>
    
    <ul>
        <li>Purpose: {{ document.purpose_text }}</li>
        <li>Created at: {{ document.created_at | date(format="%Y-%m-%d %H:%M") }}</li>
        <li>Created by: {{ document.created_by }}</li>
    </ul>
    
    <hr>
        
    {% for key, section in sections %}
    
        <h3>{{ section.header_text | title }}</h3>
        <div
            id="{{section.text_id}}-content"
            hx-swap="outerHTML"
            hx-target="this"
        >
            <form>
                <textarea rows="15" cols="66" name="content" placeholder="Enter Markdown here..." required>{{ section.content }}</textarea>
                <br>
                <button 
                    class="btn btn-primary"
                    hx-put="/{{ lang }}/edit_text/{{ section.text_id }}"
                    >Save</button>
                <button class="btn" hx-get="/{{ lang }}/text/{{ section.text_id }}">Cancel</button>
            </form> 
        </div>


        <hr>
    
    {% endfor %}

</div>

{% endblock content %}