{% extends "base.html" %}

{% block title %}
    <title>{{ document.title_text | title }}</title>
{% endblock title %}

{% block content %}

<div class="col m-md-2 m-1">



    <div
        id="{{document.id}}-content"
        hx-swap="outerHTML"
        hx-target="this"
    >

        <h1>{{ document.title_text | title | safe }}</h1>

        <h4>Purpose</h4>
        {{ document.purpose_text | safe }}
        <br>
        
        <h4>Details</h4>
        <ul>
            <li>Created at: {{ document.created_at | date(format="%Y-%m-%d %H:%M") }} by {{ document.created_by }}</li>
            <li>Updated at: {{ document.updated_at | date(format="%Y-%m-%d %H:%M") }}</li>
            <li>Security Classification: {{ document.security_classification | title }}</li>
            <li>Status: {% if document.published == true %}Published{% else %}Draft{% endif %}</li>
        </ul>
        {% if document_view == "internal" %}
        <button 
            class="btn btn-a11y"
            hx-get="/{{ lang }}/edit_document_core_form/{{ document.id }}/{{ document_view }}" 
            >
            Edit
        </button>
        {% endif %}
    </div>
    <hr>
        
    {% for key, section in sections %}
    
        <h3>{{ section.header_text | title }}</h3>
        <div
            id="{{section.text_id}}-content"
            hx-swap="outerHTML"
            hx-target="this"
        >
            <form>
                <textarea rows="15" cols="60" name="content" placeholder="Enter Markdown here..." required>{{ section.content }}</textarea>
                <br>
                <div>
                    <label for="machine_translate">Machine Translate</label>
                    <input type="checkbox" id="machine_translate" name="machine_translate" value="true"
                    checked>
                </div>
                <button 
                    class="btn btn-primary"
                    hx-put="/{{ lang }}/edit_text/{{ section.text_id }}/{{ document_view }}" 
                    >Save</button>
                <button class="btn" hx-get="/{{ lang }}/text/{{ section.text_id }}/{{ document_view }}">Cancel</button>
            </form> 
        </div>


        <hr>
    
    {% endfor %}

</div>

{% endblock content %}