{% extends "base.html" %}

{% block title %}
    <title>Edit {{ template_core.name_text | title }}</title>
{% endblock title %}

{% block content %}

<div>

    <div class="col m-md-2 m-1"
        id="{{template_core.id}}-content"
        hx-swap="outerHTML"
        hx-target="this"
    >
        <h1>Edit {{ template_core.name_text | title }}</h1>
        
        <ul>
            <li>Purpose: {{ template_core.purpose_text }}</li>
            <li>Created at: {{ template_core.created_at | date(format="%Y-%m-%d %H:%M") }}</li>
            <li>Updated at: {{ template_core.updated_at | date(format="%Y-%m-%d %H:%M") }}</li>
        </ul>
        <button 
            class="btn btn-a11y"
            hx-get="/{{ lang }}/edit_template_core_form/{{ template_core.id }}" 
            >
                Edit
        </button>
    </div>
    
    <hr>
    
    <h2>{{ fluent(key="sections", lang=lang )}}</h2>
    
    {% for key, template_section in template_sections %}
    
    <div
    id="{{template_section.template_id}}-section-{{ template_section.id }}"
    hx-swap="outerHTML"
    hx-target="this"
    >
        <form>
            <div>
                <label>Header Text</label>
                <input type="text" name="header_text" value="{{template_section.header_text}}" required>
                </div>
                <div>
                    <label>Instructions</label>
                    <textarea rows="5" cols="33" name="instructions_text" required>{{template_section.instructions_text}}</textarea>
                </div>
                <div>
                <label>Help Text</label>
                <textarea rows="5" cols="33" name="help_text" required>{{template_section.help_text}}</textarea>
            </div>
            <div>
                <label>Order Number</label>
                <input type="number" name="order_number" value="{{template_section.order_number}}" required>
            </div>
            <div>
                <label>Character Limit (Optional)</label>
                <input type="number" name="character_limit" value="{{template_section.character_limit}}">
            </div>
                <button 
                    class="btn btn-primary"
                    hx-put="/{{ lang }}/edit_template_section/{{ template_section.id }}"
                    >Save
                </button>
                <button class="btn" hx-get="/{{ lang }}/get_template_section/{{ template_section.id }}">Cancel</button>
        </form> 
    </div>
    <hr>
    
    {% endfor %}

</div>

{% endblock content %}