{% extends "base.html" %}

{% block title %}
    <title>{{ template_core.name_text | title }}</title>
{% endblock title %}

{% block content %}

<div class="col m-md-2 m-1">

    <div hx-get="/{{lang}}/get_template_core/{{template_core.id}}" hx-trigger="load">
        <img alt="Result loading..." class="htmx-indicator" width="150"/>
    </div>
    
    <hr>
    
    <h2>{{ fluent(key="sections", lang=lang )}}</h2>
    
    {% for key, template_section in template_sections %}
    
        <div hx-get="/{{lang}}/get_template_section/{{template_section.id}}" hx-trigger="load">
            <img alt="Result loading..." class="htmx-indicator" width="150"/>
        </div>
        <hr>
    
    {% endfor %}

</div>

{% endblock content %}