{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="template-index", lang=lang )}}</title>
{% endblock title %}

{% block content %}

<div class="col m-md-2 m-1">

    <h1>{{ fluent(key="templates", lang=lang )}}</h1>
    
    <table>
        <tr>
            <th style="text-align: center;">{{ fluent(key="template-name", lang=lang )}}</th>
            <th style="text-align: center;">{{ fluent(key="updated-on", lang=lang )}}</th>
            <th style="text-align: center;">{{ fluent(key="link", lang=lang )}}</th>
            <th style="text-align: center;">{{ fluent(key="create-document", lang=lang )}}</th>
        </tr>
        {% for template in templates %}
            <tr>
                <td style="text-align: center;">{{ template.name_text | title }}</td>
                <td style="text-align: center;">{{ template.updated_at }}</td>
                <td style="text-align: center;"><a href="/{{ lang }}/template/{{ template.id }}">link</a></td>
                <td style="text-align: center;"><a class="btn btn-primary" href="/{{ lang }}/create_document_core/{{ template.id }}">{{ fluent(key="create", lang=lang )}}</a></td>
            </tr>
        {% endfor %}
        </table>

</div>



{% endblock content %}