{% extends "base.html" %}

{% block title %}
    <title>{{ template_core.name_text | title }}</title>
{% endblock title %}

{% block content %}

<div>

    <div class="col m-md-2 m-1"
        id="{{template_core.id}}-content"
        hx-swap="outerHTML"
        hx-target="this"
    >
        <h1>{{ template_core.name_text | title }} 
            <button 
                class="btn btn-a11y"
                hx-get="/{{ lang }}/edit_template_core_form/{{ template_core.id }}" 
                >
                Edit
            </button>
        </h1>
        
        <ul>
            <li>Purpose: {{ template_core.purpose_text }}</li>
            <li>Created at: {{ template_core.created_at | date(format="%Y-%m-%d %H:%M") }}</li>
            <li>Updated at: {{ template_core.updated_at | date(format="%Y-%m-%d %H:%M") }}</li>
        </ul>
        <a class="btn btn-primary" href="/{{ lang }}/create_document_core_form/{{ template_core.id }}">{{ fluent(key="create", lang=lang )}}</a>
    </div>
    
    <hr>
    
    <h2>{{ fluent(key="sections", lang=lang )}}</h2>
    
    {% for key, template_section in template_sections %}
    
    <div 
        id="{{template_section.id}}-content"
        hx-swap="outerHTML"
        hx-target="this"
    >
        <h3>{{ template_section.header_text | title }} <button
            hx-get="/{{ lang }}/edit_template_section/{{ template_section.id }}" 
            class="btn">
                    Edit
            </button></h3>
        <ul>
            <!-- Might not need this. Implicit. Need to figure out order number and flexible re-ordering.
            -->
            {% set order_number = template_section.order_number + 1 %}
            <li>{{ fluent(key="section-order-number", lang=lang, number=order_number )}}</li>
            <li>{{ fluent(key="section-help-text", lang=lang )}} {{ template_section.help_text }}</li>
            <li>{{ fluent(key="section-character-limit", lang=lang, limit=template_section.character_limit )}}</li>
        </ul>
    </div>
        <hr>
    
    {% endfor %}

</div>

{% endblock content %}