<div
    id="{{template_core.id}}-section"
    hx-swap="outerHTML"
    hx-target="this"
    >
    <h3>Add Section</h3>
        <form>
            <div>
                <label>Header Text</label>
                <input type="text" name="header_text" placeholder="Add header text here..." required>
              </div>
              <div>
                <label>Help Text</label><br>
                <textarea rows="5" cols="33" name="help_text" placeholder="Add any help text for the form here..." required></textarea>
            </div>
            <div>
                <label>Order Number</label>
                <input type="number" name="order_number" default="1" required>
            </div>
            <div>
                <label>Character Limit (Optional)</label>
                <input type="number" name="character_limit" default="0">
            </div>
            <div>
                <label for="machine_translate">Machine Translate</label>
                <input type="checkbox" id="machine_translate" name="machine_translate" value="true"
                checked>
            </div>
                <button 
                    class="btn btn-primary"
                    hx-put="/{{ lang }}/edit_text/{{ section.text_id }}"
                    >Save
                </button>
                <button class="btn" hx-post="/{{ lang }}/save_template_section/{{ section_core.id }}">Cancel</button>
        </form> 
    </div>