{% extends "base.html" %}

{% block content %}
        <div class="col m-md-2 m-1">
            <h1>{{ fluent(key="welcome-to", lang=lang) }}</h1>

            <div><a href="/{{lang}}/template_index">{{ fluent(key="see-templates", lang=lang) }}</a></div>
            <div><a href="/{{lang}}/document_index/{{ document_view }}">{{ fluent(key="see-documents", lang=lang) }}</a></div>
            <div><a href="/{{lang}}/create_template_core">{{ fluent(key="create-template", lang=lang) }}</a></div>

            <form target="/upload_document" method="POST" enctype="multipart/form-data">
                <input type="file" multiple name="files"/>
                <input type="submit" value="Submit"></button>
            </form>

        </div>
{% endblock content %}