{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="create-document", lang=lang )}}</title>
{% endblock title %}

{% block content %}

<div class="col m-md-2 m-1">

    <h1>{{ template.name_text | title }}</h1>
    
    <ul>
        <li>Purpose: {{ template.purpose_text }}</li>
        <li>Created at:{{ template.created_at }}</li>
        <li>Created at:{{ template.updated_at }}</li>
    </ul>
    
    <hr>
    <form 
        action="/{{ lang }}/save_document_core/{{ template.id }}"
        method="POST"
        hx-target="document-form" 
        hx-swap="outerHTML">
        <div>
          <label>Title</label>
          <input type="text" name="title" placeholder="Add title here..." required>
        </div>
        <div>
            <label>Purpose</label><br>
            <textarea rows="5" cols="60" name="purpose" placeholder="Add purpose here..." required></textarea>
        </div>
        <div>
            <label for="security_classification">Security Classification</label>
            <select name="security_classification" id="security_classification_select">
                <option value="unclassified" selected>Unclassified</option>
                <option value="protected_a">Protected A</option>
                <option value="protected_b">Protected B</option>
                <option value="secret">Secret</option>
            </select>
        </div>
        <div>
            <label for="machine_translate">Machine Translate</label>
            <input type="checkbox" id="machine_translate" name="machine_translate" value="true"
            checked>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn" hx-get="/{{ lang }}/template_index">Cancel</a>
    </form>

    <hr>
    <h2>{{ fluent(key="sections", lang=lang )}}</h2>
    <p>Your document will have the following sections:</p>
    
    {% for key, section in sections %}
    
        <h3>{{ section.header_text | title }}</h3>
        <ul>
            <li>{{ fluent(key="section-instructions", lang=lang )}} {{ section.instructions_text }}</li>
            <li>{{ fluent(key="section-help-text", lang=lang )}} {{ section.help_text }}</li>
            <li>{{ fluent(key="section-character-limit", lang=lang, limit=section.character_limit )}}</li>
        </ul>
        <hr>
    
    {% endfor %}
    
</div>

{% endblock content %}