{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="create-template", lang=lang )}}</title>
{% endblock title %}

{% block content %}

<div class="col m-md-2 m-1"
    hx-target="this" 
    hx-swap="outerHTML"
>

    <h1>{{ fluent(key="create-template", lang=lang )}}</h1>
    
    <p>{{ fluent(key="create-template-instructions", lang=lang )}}</p>
    
    <hr>
    <form>
        <div>
          <label>Name</label>
          <input type="text" name="name" placeholder="Add template name here..." required>
        </div>
        <div>
            <label>Purpose</label>
            <textarea rows="5" cols="33" name="purpose" placeholder="Add purpose here..." required></textarea>
        </div>
        
        <button 
            class="btn btn-primary"
            hx-post="/{{ lang }}/save_template_core/{{ template_id }}"
        >Submit</button>
        <a class="btn" hx-get="/{{ lang }}/template_index">Cancel</a>
    </form>

    <h2>{{ fluent(key="sections", lang=lang )}}</h2>
    
    <hr>
    
</div>

{% endblock content %}