{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="create-template", lang=lang )}}</title>
{% endblock title %}

{% block content %}

<div class="col m-md-2 m-1">

    <h1>{{ fluent(key="create-template", lang=lang )}}</h1>
    
    <p>{{ fluent(key="create-template-instructions", lang=lang )}}</p>
    
    <hr>
    <form action="/{{ lang }}/save_template_core/{{ template_id }}" method="POST">
        <div>
          <label>Name</label>
          <input type="text" name="name_text" placeholder="Add template name here..." required>
        </div>
        <div>
            <label>Purpose</label>
            <br>
            <textarea rows="5" cols="60" name="purpose_text" placeholder="Add purpose here..." required></textarea>
        </div>

        <div>
            <label>Number of Sections</label>
            <input type="number" name="number_of_sections" value="4" min="1" max="20"
            required>
            <br><small>How many different sections (major blocks) should be in your document?</small>
        </div>
        
        <button
            class="btn btn-primary">
            Save
        </button>
        <a class="btn" hx-get="/{{ lang }}/template_index">Cancel</a>
    </form>

    <h2>{{ fluent(key="sections", lang=lang )}}</h2>
    
    <hr>
    
</div>

{% endblock content %}