<div
    class="col m-md-2 m-1"
    id="{{ template_core.id }}-content"
    hx-swap="outerHTML"
    hx-target="this"
>
    <form> 
        <div>
        <label>Name</label>
        <input type="text" name="name_text" value="{{ template_core.name_text }}" required>
        </div>
        <div>
            <label>Purpose</label>
            <textarea rows="5" cols="33" name="purpose_text" required>{{ template_core.purpose_text }}</textarea>
        </div>
        <p>Last Updated: {{ template_core.updated_at }}</p>
        
        <button 
            class="btn btn-primary"
            hx-put="/{{ lang }}/edit_template_core/{{ template_core.id }}"
        >
            Submit
        </button>
        <a class="btn" hx-get="/{{ lang }}/template_core/{{ template_core.id }}">Cancel</a>
    </form>
</div>